:root {
	--color-alarm: 			rgb(46, 168, 230);
	--color-trending:		rgb(41, 204, 95);
	--color-pm:				rgb(168, 46, 230);
	--color-security:		rgb(123, 98, 77);
	--color-platform:		rgb(107, 46, 230);
	
	--color-hover-module:	rgb(96, 96, 96);
}

body {
	background-color: rgb(0,0,0);
	margin: 0px;
	height: 100vh;
	overflow: hidden;
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Century Gothic";
	font-size: 14px;
}

.appTitle {
	margin: 8px 4px 0px 4px;
	font-weight: bold;
	border-bottom: 1px solid #929292;
	cursor: default;
}

.module > div {
	margin: 4px 4px 4px 0px;
}

.module:hover {
	background-color: var(--color-hover-module);
	cursor: default;
}

.moduleImage {
	background-image: url("../images/ic_portal_alarm_current.svg");
	width: 32px;
	height: 32px;
	flex-grow: 0;
	flex-shrink: 0;
}

.alarmImage {
	background-color: var(--color-alarm);
}

.trendingImage {
	background-color: var(--color-trending);
}

.pmImage {
	background-color: var(--color-pm);
}

.securityImage {
	background-color: var(--color-security);
}

.platformImage {
	background-color: var(--color-platform);
}