:root {
	--color-alarm: 			rgb(46, 168, 230);
	--color-trending:		rgb(41, 204, 95);
	--color-pm:				rgb(168, 46, 230);
	--color-security:		rgb(123, 98, 77);
	--color-platform:		rgb(107, 46, 230);
	
	--color-hover-module:	rgb(96, 96, 96);
}

body {
	background-color: rgb(255,255,255);
	padding: 16px;
	height: 100vh;
	overflow: hidden;
	color: rgb(32,32,32);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Century Gothic";
	font-size: 24px;
}

.navigation {
	color: red;
	border: 2px solid blue;
	border-radius: 1em;
}

.contextMenu {
	background-color: white;
	border: 1px solid gray;
}

.titlebar {
	width: 100vw;
	height: 40px;
	background-color: rgb(96,96,96);
}

.blackOnWhite {
	background-color: white;
	color: black;
	border: 2px solid rgb(192,192,192);
}

.codeblock {
	font-family: Consolas; 
	background-color: rgb(255, 250, 230);
	margin: 16px;
	padding: 16px;
}

.codeblock > div {
	padding-left: 16px;
}

.dialog {
	box-sizing: border-box;
	padding: 8px;
	box-shadow: 5px 5px;
	border-radius: 12px;
}